.cursor-pointer {
    cursor: pointer;
}

.trix-button-group.trix-button-group--file-tools {
    display:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}